[submodule "Sources/Common/Jinja"]
	path = Sources/Common/Jinja
	url = https://github.com/M2D-sOxOs/Jinja.git
[submodule "Sources/Common/Urusai"]
	path = Sources/Common/Urusai
	url = https://github.com/M2D-sOxOs/Urusai.git
