[submodule "Sources/Common/Jinja"]
	path = Sources/Common/Jinja
	url = https://git-oa.030mall.com/sOxOs/Jinja.git
[submodule "Sources/Common/Urusai"]
	path = Sources/Common/Urusai
	url = https://git-oa.030mall.com/sOxOs/Urusai.git